# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor / OS
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# Vite
.vite/
.vite-temp/

# Environment Variables
.env
.env.local
.env.*.local

# Build artifacts and temp files
coverage/
build/
out/
.vercel/

# Archived Assets
src/assets/archive/
