# Dependencies
node_modules/

# Production Build
dist/
dist-ssr/
build/
out/

# Vite Caching
.vite/
.vite-temp/

# Environment Variables
.env
.env.*.local
*.local

# Logs & Testing
*.log
coverage/

# OS & Editor Files
.DS_Store
.vscode/
.idea/
.eslintcache
*.sw?

# Project Specific
src/assets/archive/
.vercel/
